@page "/"

@using Models
@using Data

@inject NavigationManager NavManager

<PageTitle>Bienvenido</PageTitle>
<body class="container" >

</body>

<div class="mx-auto bg-primary bg-opacity-50" style="width: 25rem;">
    <ul class="list-group bg-primary list-group-flush">
        <li class="list-group-item">
            <h3 class="card-title">Practica en Blazor</h3>
            <p class="card-text">Registro y lista de clientes</p>
            <p class="card-text">Registro y lista de ocupaciones</p>
        </li>
        <li class="list-group-item">
            <button class="btn p-2 btn-secondary" @onclick="Ocupaciones">Ocupacion</button>
            <button class="btn p-2 btn-secondary" @onclick="Clientes">Clientes</button>
            <button class="btn p-2 btn-secondary" @onclick="Clientes">Prestamos</button>
            <button class="btn p-2 btn-secondary" @onclick="Clientes">Pagos</button>
        </li>
    </ul>
</div>

<style>
    .container {
        background-image: url("https://i.ibb.co/cD7Dcnz/My-project-1.png");
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
    }
</style>

@code {

    private void Ocupaciones()
    {
        NavManager.NavigateTo("/Ocupacion/ListaOcupacion");
    }

    private void Clientes()
    {
        NavManager.NavigateTo("/Cliente/RegistroCliente");
    }
}