@page "/"
@using Models
@using Data
@using Microsoft.EntityFrameworkCore;
@inject IToastService toastService

<PageTitle>Registro Ocupacion</PageTitle>

<EditForm Model="ocupacion">
    <div class="card">
        <div class="card-header">
            <h3>Registro Ocupacion</h3>
        </div>
        <div class="card-header">
            <h4>Descripcion</h4>
            <input type="text" @bind=@ocupacion.Descripcion />
            <button @onclick="Buscar" class="col align-self-start-center  btn btn-primary">
                <i class="oi oi-magnifying-glass" />
            </button>
        </div>
        <div class="card-header">
            <h4>Salario</h4>
            <input type="number" @bind-value=@ocupacion.Salario />
        </div>
        <div class="card-header">
            <button class="btn btn-primary" @onclick="Guardar">Guardar</button>
        </div>
    </div>
    <BlazoredToasts />
</EditForm>

@code {
    Ocupacion ocupacion = new Ocupacion();
    Contexto contexto = new Contexto();

    private void Guardar()
    {
        if (ocupacion.Descripcion.Length == 0)
        {
            toastService.ShowError("El campo Descripcion esta vacio");
            return;
        }

        if (ocupacion.Salario == 0)
        {
            toastService.ShowError("El campo Salario esta vacio");
            return;
        }

        contexto.ocupaciones?.Add(ocupacion);
        contexto.SaveChanges();
        ocupacion = new Ocupacion();
        toastService.ShowSuccess("Registro Guardado");
    }
    private async Task Buscar()
    {
        try
        {
            var _ocupacion = await contexto.ocupaciones!.FirstOrDefaultAsync(o => o.Descripcion == ocupacion.Descripcion);
            if (_ocupacion == null)
                toastService.ShowError("no se encotro");
            else
            {
                toastService.ShowInfo("Encotrado");
                ocupacion = _ocupacion;
            }
        }
        catch (Exception exe)
        {
            toastService.ShowError("no se encotro");
        }
    }
}